<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreATe Inventory Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel ="icon" type ="image/png" href="{{ url_for('static', filename='img/CSU-logo.png') }}">
</head>
<body>

    

    <div class="logo"></div>

    <div class="Title">
        <h1>Inventory Management System</h1>
    </div>

    <div class="container">
        <a href="{{ url_for('student_information') }}" class="btn student-btn">Student Portal</a>
        <a href="{{ url_for('admin') }}" class="btn admin-btn">Faculty Login</a>
    </div>

</body>
</html>